.root {
    -fx-font-family: "Segoe UI";
}
#header {
    -fx-font-size: 1.5em;
}

Button {
    -fx-text-fill: #000;
    -fx-background-color: #e0e0e0;
    -fx-border-color: #e0e0e0;
}

Button:hover {
    -fx-border-color: #387002;
}

Label {
    -fx-text-fill: #000;
}

TextField, PasswordField {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #e0e0e0;
    -fx-text-fill: #000;
}
TextField:focused, TextField:hover, PasswordField:focused, PasswordField:hover {
    -fx-border-color: #387002;
}
GridPane {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #e0e0e0;
}