.root {
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #000000;
}

#menu {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #000;
}

Label {
    -fx-text-fill: #000;
    -fx-background-color: #e0e0e0;
}
#notes {
    -fx-background-color: #e0e0e0;
    -fx-pref-width: 220;
    -fx-control-inner-background: #e0e0e0;
}


#post {
    -fx-background-color: #e0e0e0;
    -fx-padding: 5px;
    -fx-pref-width: 220;
    -fx-alignment: center;
    -fx-text-fill: #000;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-border-color: #387002;
    -fx-background-color:#e0e0e0;
    -fx-text-fill: #000;
}

.list-cell:odd {
    -fx-background-color: #e0e0e0;
}

.list-cell:filled:hover {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #387002;
    -fx-text-fill: #000;
}

#input {
    -fx-pref-width: inherit;
    -fx-border-style: none;
}

#save, #create {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #000;
    -fx-pref-width: 70.0;
}

#close {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #e0e0e0;
    -fx-text-fill: #e0e0e0;
}

#close:hover {
    -fx-text-fill: #387002;
}

GridPane {
    -fx-padding: 0;
    -fx-end-margin: 0;
    -fx-start-margin: 0;
    -fx-background-color: #e0e0e0;
}

ListView {
    -fx-padding: 0;
    -fx-start-margin: 0;
    -fx-end-margin: 0;
    -fx-control-inner-background: #e0e0e0;
}

MenuBar, Menu, MenuItem {
    -fx-border-style: hidden;
    -fx-border-insets: 0;
    -fx-background-color: #e0e0e0;
}

.menu-item .label {
    -fx-background-color: #e0e0e0;
}

.menu-item .label:hover {
    -fx-background-color: #e0e0e0;
}

.context-menu {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #000000;
}
.text-area, .content {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #616161;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-border-style: hidden;
    -fx-text-box-border: transparent;
    -fx-display-caret: true;
}

TextArea:focused {
    -fx-background-color: #e0e0e0;
}